.App {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}

.Title {
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  margin-top: 20px;
}

.TreeMenuTitle {
  margin-top: 20px !important;
  font-size: large;
}
