$menuWidth: 200px;
$font-light-light: #2a2a2a;
$font-light-dark: #e5e6ec;
$font-menu-active: #1977f2;
$bg-box-light: #ffffff;
$bg-box-dark: #242526;
$bg-box-2-light: #e6e7eb;
$bg-box-2-dark: #3a3b3c;
$bg-circle-hover-light: #d8dade;
$bg-circle-hover-dark: #3a3b3c;

.menu_InfiniteMenuTis {
  all: unset;
  box-sizing: border-box;
  background-color: $bg-box-light;
  list-style-type: none;
  position: absolute;
  top: 5px;
  left: 0;
  width: $menuWidth;
  cursor: pointer;
  border: 1px solid $bg-box-2-light;
  border-radius: 3px;

  .item_InfiniteMenuTis {
    width: 100%;
    height: 40px;

    &:hover {
      background-color: $bg-circle-hover-light;
    }

    > .link_InfiniteMenuTis {
      text-decoration: none;
      color: $font-light-light;

      &.selected_InfiniteMenuTis {
        color: $font-menu-active !important;
      }
    }

    > .link_InfiniteMenuTis,
    > .subMenuButton_InfiniteMenuTis {
      box-sizing: border-box;
      padding-left: 10px;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }

  .subMenuButton_InfiniteMenuTis {
    position: relative;
    background-color: transparent;
    border: none;
    color: $font-light-light;

    &:hover > .menu_InfiniteMenuTis {
      display: block;
    }

    &.selected_InfiniteMenuTis {
      color: $font-menu-active !important;

      > .arrowIcon_InfiniteMenuTis {
        fill: $font-menu-active !important;
      }
    }

    > .menu_InfiniteMenuTis {
      display: none;
      top: 0;
      left: $menuWidth - 1;
    }

    > .arrowIcon_InfiniteMenuTis {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
      height: 10px;
      fill: $font-light-light;
    }
  }

  &.Dark_InfiniteMenuTis {
    background-color: $bg-box-dark;
    border-color: $bg-box-2-dark;

    .item_InfiniteMenuTis {
      &:hover {
        background-color: $bg-circle-hover-dark;
      }

      > .link_InfiniteMenuTis {
        color: $font-light-dark;
      }
    }

    .subMenuButton_InfiniteMenuTis {
      color: $font-light-dark;

      > .arrowIcon_InfiniteMenuTis {
        fill: $font-light-dark;
      }
    }
  }
}
